// Pointer
/////////////////////////////////////////////////////
@mixin pointer {
  &:hover {
    cursor: pointer;
  }
}

.external {
  &:hover {
    cursor: ne-resize !important;
  }
}

// Styles
/////////////////////////////////////////////////////
@mixin roundCorners() {
  border-radius: 4px;
}

@mixin roundImageCorners() {
  @include roundCorners();
  line-height: 0;
  overflow: hidden;
}

@mixin sticky() {
  top: $gutter;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
}

@mixin shadow() {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

// Transition
/////////////////////////////////////////////////////
@mixin transition($prop, $time, $ease) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -ms-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
