// Units
/////////////////////////////////////////////////////
html {
  font-size: 14px;
}

@function toRem($value) {
  $remValue: calc($value / 14) + rem;
  @return $remValue;
}

$unit-xs: toRem(3);
$unit-sm: toRem(6);
$unit-md: toRem(8);
$unit-lg: toRem(12);
$unit-xl: toRem(18);

$gap-sm: toRem(60);
$gap-md: toRem(80);
$gap-lg: toRem(12);

$gutter: $unit-md;
